.blockquote {
  text-align: right;
  color: white;
  /* width: 100%; */
}
.blockquote::before,
.blockquote::after {
  content: "\201C ";
  font-family: "Sanchez";
  /* color: lighten($black, 40%); */
}

.blockquote::after {
  content: " \201D";
}
.card-body > div {
  margin-top: 1em;
}
.icon {
  color: orange;
  font-size: 1.5em;
}
.userrating {
  font-weight: bold;
  text-align: right;
}

.homebutton {
  text-align: right;
}
.property-group:nth-child(2) {
  text-align: right;
}
.property-title {
  font-style: italic;
  font-size: 1.5em;
}
